*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonts h1{
    font-family: 'Vidaloka',serif;
    
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

img{
    max-width: 100%;
    border-radius: 20px;
}

video{
    max-width: 100%;
    border-radius: 10px;
}

.cont-body{
    width: 100vw;
    height: 100vh;
}

/*---HEADER---*/

header{
    width: 100vw;
    background-image: linear-gradient(to bottom,crimson,yellow);
    color: crimson;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}


header nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: crimson;
}

a{
    color: crimson;
}

@media(min-width:1024px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
    }
}

/*---PORTADA---*/

.portada-index{
    min-height: 80%;
    background-image: linear-gradient(to bottom,rgba(220, 20, 60, 0.913),rgba(255, 255, 0, 0.807));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.items-portada{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

@media(min-width:768px){
    main div ul{
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
}

.portada-index span{
    font-size: 1.5rem;
}

.wrapper-texto-portada{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.wrapper-texto-portada h1{
    font-size: 1.8rem;
    color: white;
    padding: 1.5rem;
}
@media(min-width:1024px){
    .portada-index{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}


/*---BIOGRAFIA---*/
.cont-caja{
    width: 100vw;
    padding: 1rem;
    background-image: linear-gradient(to bottom,rgba(220, 20, 60, 0.398),yellow);
}

/*---ACTIVIDADES---*/

.contenedor-actividades{
    background-image: linear-gradient(to bottom, crimson,yellow);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem;
}

.cont-videos{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem;
}

.item-actividades{
    font-size: 1.2rem;
}

@media(min-width:768px){
    .item-actividades{
        font-size: 1.4rem;
    }
}

@media(min-width:1024px){
    .item-actividades{
        font-size: 1.6rem;
    }
}

/* GALERIA */
.contenedor{
    width: 100vw;
}

.galeria-wrapper{
    background-image: linear-gradient(to bottom,crimson,yellow);
    
}

.cont-galeria{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.cont-galeria img{
    width: 100%;
    height: 100%;
    background-color: crimson;
    object-fit: cover;
}

@media(min-width:1024px){
    .cont-galeria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,90vh);
    }
}

/*---SECCION-CONTACTO---*/

.contenedor-contacto{
    width: 100vw;
    background-image: linear-gradient(to bottom,crimson,yellow);
}

.info-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
} 

.formulario{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media(min-width:1024px){
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.btn{
    background-color: blue;
    color: white;
    padding: 0.4rem 0.4rem;
    border-radius: 10px;
}

.btn:hover{
    background-color: white;
    color: blue;
    border: solid black 1px;
}

.wrapper-input,.wrapper-text-area{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}


/*---FOOTER---*/

footer{
    background-color: black;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

.cont-nav{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
}

@media(min-width:1024px){
    .cont-nav{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-content: space-around;
        padding: 2rem;
    }
    
}


.icono-w{
    background-color: green;
    padding: 0.3rem;
    border-radius: 20px;
    
    width: 25px;
}

.icono-w i{
    font-size: 1rem;
    color: white;
}

.icono-f{
    background-color: white;
    padding: 0.3rem;
    border-radius: 20px;
    
    width: 25px;
}

.icono-f i{
    font-size: 1rem;
    color: blue;
}

.icono-ins{
    background-color: brown;
    padding: 0.3rem;
    border-radius: 20px;
    
    width: 25px;
}

.icono-ins i{
    font-size: 1rem;
    color: white;
}

.icono-y{
    background-color: red;
    padding: 0.3rem;
    border-radius: 20px;
    
    width: 25px;
}

.icono-y i{
    font-size: 1rem;
    color: white;
}

.icono-l{
    background-color: aqua;
    padding: 0.3rem;
    border-radius: 20px;
    
    width: 25px;
}

.icono-l i{
    font-size: 1rem;
    color: black;
}













