* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: 20px;
}

video {
  max-width: 100%;
  border-radius: 20px;
}

main {
  background-image: linear-gradient(to bottom, crimson, yellow);
}

header {
  width: 100%;
  background-image: linear-gradient(to bottom, crimson, yellow);
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 2.5rem;
  }
}

.container-fluid {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

@media (min-width: 768px) {
  .container-fluid {
    gap: 4rem;
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  .container-fluid {
    gap: 8rem;
    padding: 4rem;
  }
}
.nav-link {
  color: white;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .nav-link {
    font-size: 2.5rem;
  }
}

.portada-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to bottom, crimson, yellow);
  justify-content: space-between;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .portada-index {
    background-position: center;
    background-size: cover;
    justify-content: start;
    align-items: center;
    object-fit: cover;
  }
}
.portada-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.portada-texto h1 {
  font-size: 2rem;
  color: white;
  padding: 2rem;
  text-shadow: 3px 3px 5px white;
  font-family: "cinzel decorative", serif;
}
.portada-texto h2 {
  color: white;
  font-size: 1.3rem;
  text-shadow: 3px 3px 5px white;
  font-family: "cinzel decorative", serif;
}

.portada-item {
  font-size: 1.3rem;
  color: black;
  padding: 2rem;
  font-family: "cinzel decorative", serif;
}

@media (min-width: 768px) {
  .portada-texto h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .portada-texto h1 {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .portada-texto h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .portada-texto h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  main div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5.5rem;
    font-size: 2rem;
  }
}
.titulo-biografia {
  background-color: crimson;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 5px white;
  font-family: "cinzel decorative", serif;
}

.cont-caja {
  width: 100%;
  padding: 1rem;
  background-image: linear-gradient(to bottom, crimson, yellow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .cont-caja {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    padding: 1.5rem;
  }
}
.cont-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cont-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.caja {
  border: solid 2px green;
  padding: 1rem;
}

.parrafo {
  font-size: 1.3rem;
}

.item-biografia {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .parrafo {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .item-biografia {
    font-size: 1.7rem;
  }
}
.titulo-actividades {
  background-color: crimson;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 5px white;
  font-family: "cinzel decorative", serif;
}

.contenedor-actividades {
  background-image: linear-gradient(to bottom, crimson, yellow);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem;
}

@media (min-width: 1024px) {
  .contenedor-actividades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1.5rem;
  }
}
.cont-videos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem;
}

.item-actividades {
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .item-actividades {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .item-actividades {
    font-size: 1.6rem;
    text-align: center;
  }
}
.titulo-galeria {
  background-color: crimson;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 5px white;
  font-family: "cinzel decorative", serif;
}

.cont-galeria {
  width: 100%;
  background-image: linear-gradient(to bottom, crimson, yellow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cont-galeria img {
  width: 100%;
  height: 80%;
  background-color: crimson;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .cont-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    grid-template-rows: repeat(2, 90vh);
    padding: 1.5rem;
    gap: 1rem;
  }
}
.cont-videos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem;
}

.item-galeria {
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .item-galeria {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .item-galeria {
    font-size: 1.6rem;
    text-align: center;
  }
}
.contenedor-contacto {
  width: 100%;
  background-image: linear-gradient(to bottom, crimson, yellow);
}

.info-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .formulario {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .info-contacto {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.btn {
  background-color: blue;
  color: white;
  padding: 0.4rem 0.4rem;
}
.btn:hover {
  background-color: white;
  color: blue;
  border: solid black 1px;
}

.wrapper-input, .wrapper-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
}

.footer-titulo {
  text-align: center;
}

.footer-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .footer-titulo {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  .footer-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 6rem;
  }
}
.icono-w {
  padding: 0.3rem;
  border-radius: 20px;
  width: 25px;
  background-color: green;
}

@media (min-width: 1024px) {
  .icono-w {
    width: 50px;
  }
}
.icono-w i {
  font-size: 1rem;
  color: white;
}

@media (min-width: 1024px) {
  .icono-w i {
    font-size: 2.5rem;
  }
}
.icono-f {
  padding: 0.3rem;
  border-radius: 20px;
  width: 25px;
  background-color: white;
}

@media (min-width: 1024px) {
  .icono-f {
    width: 50px;
  }
}
.icono-f i {
  font-size: 1rem;
  color: blue;
}

@media (min-width: 1024px) {
  .icono-f i {
    font-size: 2.5rem;
  }
}
.icono-ins {
  padding: 0.3rem;
  border-radius: 20px;
  width: 25px;
  background-color: brown;
}

@media (min-width: 1024px) {
  .icono-ins {
    width: 50px;
  }
}
.icono-ins i {
  font-size: 1rem;
  color: white;
}

@media (min-width: 1024px) {
  .icono-ins i {
    font-size: 2.5rem;
  }
}
.icono-y {
  padding: 0.3rem;
  border-radius: 20px;
  width: 25px;
  background-color: red;
}

@media (min-width: 1024px) {
  .icono-y {
    width: 50px;
  }
}
.icono-y i {
  font-size: 1rem;
  color: white;
}

@media (min-width: 1024px) {
  .icono-y i {
    font-size: 2.5rem;
  }
}
.icono-l {
  padding: 0.3rem;
  border-radius: 20px;
  width: 25px;
  background-color: aqua;
}

@media (min-width: 1024px) {
  .icono-l {
    width: 50px;
  }
}
.icono-l i {
  font-size: 1rem;
  color: black;
}

@media (min-width: 1024px) {
  .icono-l i {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
