.titulo-biografia{
    @include titulo-pagina;
}

.cont-caja{
    width: 100%;
    padding: 1rem;
    background-image: $color-fondo;
    @include flex-col-1rem;
}

@media(min-width:1024px){
    .cont-caja{
        @include grid-2col;
        padding: 1.5rem;
    }
}

.cont-1{
    @include flex-col-1rem;
}

.cont-2{
    @include flex-col-1rem;
}

.caja{
    border: solid 2px green;
    padding: 1rem;
}

.parrafo{
    font-size: 1.3rem;
}

.item-biografia{
    font-size: 1.5rem;
}

@media(min-width:768px){
    .parrafo{
        font-size: 1.5rem;
    }
}

@media(min-width:768px){
    .item-biografia{
        font-size: 1.7rem;
    }
}