
.contenedor-contacto{
    width: 100%;
    background-image: $color-fondo;
}

.info-contacto{
    @include flex-col-center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.formulario{
    @include flex-col-center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

@media(min-width:768px){
    .formulario{
        font-size: 1.5rem;
    }
}

@media(min-width:768px){
    .info-contacto{
        font-size: 1.5rem;
    }
}

@media(min-width:1024px){
    .formulario{
        @include flex-col-center;
        justify-content: center;
    }
}

.btn{
    background-color: blue;
    color: $color-primario;
    padding: 0.4rem 0.4rem;
}

.btn:hover{
    background-color: $color-primario;
    color: blue;
    border: solid $color-secundario 1px;
}

.wrapper-input,.wrapper-text-area{
    @include flex-col-center;
}

.wrapper-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
