.titulo-galeria{
    @include titulo-pagina;
}
.contenedor{
    width: 100%;
}

.cont-galeria{
    background-image: $color-fondo;
    padding: 1rem;
    @include flex-col-1rem;
}

.cont-galeria img{
    width: 100%;
    height: 100%;
    background-color: crimson;
    object-fit: cover;
}

@media(min-width:1024px){
    .cont-galeria{
        @include grid-2col;
        grid-template-rows: repeat(2,90vh);
        padding: 1.5rem;
    }
}

.cont-videos{
    width: 100%;
    @include flex-col-1rem;
    padding: 0.4rem;
}

.item-galeria{
    font-size: 1.2rem;
}

@media(min-width:768px){
    .item-galeria{
        font-size: 1.4rem;
    }
}

@media(min-width:1024px){
    .item-galeria{
        font-size: 1.6rem;
    }
}